@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


@theme {
  --color-primary: #5e5fc4;
               --color-background-light: #f6f6f8;
               --color-background-dark: #101622;
               --color-danger: #D92D20;
              --color-success:#039855;
              --font-outfit: Outfit, sans-serif;
              --font-primary: Outfit, sans-serif;

}

/* Remove spinner arrows from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}